@{
  Layout = "_Layout";
}

<body>
  <div class="container">
    <h3>Edit Client Name</h3>
    <hr>

    <form action="/clients/@Model.GetId()/edit" method="post">
      <label for="new-name">Name:</label>
      <input type="text" name="new-name" value="@Model.GetClientName()">
      <button type="submit">Update</button>
    </form>
    <h4><a href="/">Back Home</a></h4>
  </div>
</body>
