
@{
Layout = "_Layout";
}

<body>
    <div class="container">
        <h1>Hair Salon</h1>
        <h3><a href='/stylists'>View Stylists</a></h3>
        <h3><a href='/stylists/form'>Add a new Stylist</a></h3>
    </div>
</body>
