@{
Layout = "_Layout";

}

<body>
    <header>

    </header>
    <div class="container">
        <h2>Clients of @Model["stylist"].GetName()</h2>
        <hr>
        <ol>
        @foreach (var client in @Model["clients"])
        {
          <li>@client.GetClientName() || <a href="/clients/@client.GetId()/edit">Edit</a>
          || <a href="/clients/@client.GetId()/delete">Delete</a>
          </li>
        }
        </ol>
        <p><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a new client</a></p>
        <p><a href='/'>Back Home</a></p>
    </div>
</body>
